<form [formGroup]="addForm">
  <div class="row mb-3">
    <div class="col-12">
      <h5>Добавить сотрудника</h5>
    </div>
    <div class="col-4">
      <input
        class="form-control"
        type="text"
        placeholder="Имя"
        formControlName="name"
      />
    </div>
    <div class="col-4">
      <input
        class="form-control"
        type="text"
        placeholder="Фамилия"
        formControlName="surname"
      />
    </div>
    <div class="col-4">
      <select class="custom-select" formControlName = "selectType">
        <option *ngFor="let type of types" [ngValue]="type">{{ type.type }}</option>
      </select>
    </div>
    <div class="col-12 mt-1">
      <button class="btn btn-outline-primary btn-sm" [disabled]="addForm.invalid" (click)="onAddWorker()">Добавить</button>
    </div>
  </div>
</form>
